<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings xmlns="urn:bbcb:components:xmlcore:items"><obx1><title_cols value="1"/><tc_w0 value="2959350"/></obx1><obx2><title_cols value="3"/><tc_w0 value="244725"/><tc_w1 value="597150"/><tc_w2 value="1092450"/></obx2><obx3><title_cols value="1"/><tc_w0 value="2959350"/></obx3><obx4-1><title_cols value="1"/><tc_w0 value="1378200"/><tc_w1 value="36000"/></obx4-1><obx4-2><title_cols value="1"/><tc_w0 value="1530600"/></obx4-2><obx5><title_cols value="1"/><tc_w0 value="2006850"/></obx5><obx6><title_cols value="2"/><tc_w0 value="1397250"/><tc_w1 value="540000"/></obx6><obx7><title_cols value="1"/><tc_w0 value="540000"/></obx7></settings>
